<div class="d-flex align-center">
    <MudText Color="Color.Primary"
        Class="my-4"
        Typo="Typo.h5">
        Account Types
    </MudText>

    <MudSpacer></MudSpacer>

    <AccountTypeCreateButton OnCreated="@(()=> _list.GetData())" />
</div>

<OrganizationDependentList TEntity="AccountTypeResponse"
    ListApiPath="AccountTypes"
    @ref="_list">
    <ListItem>
        <MudPaper Class="my-2 pa-6 rounded-lg">
            <MudText Typo="Typo.h5"
                Class="mb-2">
                @context.Name
            </MudText>

            <MudText Typo="Typo.subtitle1"
                class="mud-text-secondary">
                @context.Description
            </MudText>
        </MudPaper>
    </ListItem>
</OrganizationDependentList>


@code {
    private OrganizationDependentList<AccountTypeResponse> _list = default!;
}