<div class="d-flex align-center">
    <MudText Color="Color.Primary"
        Class="my-4"
        Typo="Typo.h5">
        Members
    </MudText>

    <MudSpacer></MudSpacer>

    @if (_list is not null)
    {
        <MemberCreateButton OnCreated="_list.GetData" />
    }


</div>

<OrganizationDependentList TEntity="MemberResponse"
    ListApiPath="Members"
    @ref="_list">
    <ListItem>
        <MudPaper Class="my-2 pa-6 rounded-lg d-flex align-center gap-4">
            <MudAvatar Color="Color.Primary"
                Image="https://img.freepik.com/premium-psd/3d-cartoon-character-avatar-isolated-3d-rendering_235528-587.jpg?w=826"
                Size="Size.Large">
                @context.Email[0]
            </MudAvatar>

            <div>
                <MudText Typo="Typo.h5">
                    @context.DisplayName
                </MudText>

                <MudText Typo="Typo.subtitle1"
                    class="mud-text-secondary">
                    @context.Email
                </MudText>
            </div>

        </MudPaper>
    </ListItem>

</OrganizationDependentList>

@code {
    private OrganizationDependentList<MemberResponse> _list = default!;
}