@page "/counter"
@using System.Security.Claims
@attribute [Authorize]

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<AuthorizeView>
    <Authorized>
        <p>Hello @context?.User?.Identity?.Name</p>

        @foreach (var role in @context?.User?.Claims?.Where(x => x.Type == ClaimTypes.Role))
        {
            <p>
                @role
            </p>
        }
    </Authorized>
</AuthorizeView>




<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
