@page "/Expenses"

<PageTitle>Expenses</PageTitle>

<AuthorizedLayout>

    <MudContainer MaxWidth="MaxWidth.Small"
        Class="px-0">


        <MudTabs Outlined="true"
            Border="true"
            PanelClass="pt-4 px-2">
            <MudTabPanel Text="Pending Expenses">
                @if (_pendingList is not null)
                {
                    <div class="d-flex align-center">

                        <MudSpacer></MudSpacer>

                        <CreateButton TForm="CreateExpenseForm"
                        Title="Create Expense"
                        OnCreated="_pendingList.GetData">
                            Create
                        </CreateButton>
                    </div>
                }

                <ExpensesList @ref="_pendingList"
                    Status="ExpenseStatus.Pending" />
            </MudTabPanel>
            <MudTabPanel Text="Completed Expenses">
                <ExpensesList Status="ExpenseStatus.Completed" />
            </MudTabPanel>

        </MudTabs>


    </MudContainer>
</AuthorizedLayout>

@code {
    private ExpensesList _pendingList = default!;
}