<div class="d-flex align-center">
    <MudText Color="Color.Primary"
        Class="my-4"
        Typo="Typo.h5">
        Budget Templates
    </MudText>

    <MudSpacer></MudSpacer>

</div>

<OrganizationDependentList TEntity="BudgetTemplateResponse"
    ListApiPath="BudgetTemplates"
    @ref="_list">
    <ListItem>
        <MudPaper Class="my-2 pa-6 rounded-lg d-flex justify-space-between align-center">
            <MudText Typo="Typo.h5"
                Class="mb-2">
                @context.AccountType.Name
            </MudText>

            <MudText Typo="Typo.h6"
                class="mud-text-secondary">
                @context.Amount
            </MudText>
        </MudPaper>
    </ListItem>
</OrganizationDependentList>


@code {
    private OrganizationDependentList<BudgetTemplateResponse> _list = default!;
}