<div class="d-flex align-center">

    <MudSpacer></MudSpacer>

    <CreateButton TForm="CreateExpenseForm"
        Title="Create Expense"
        OnCreated="@(()=> _list.GetData())">
        Create
    </CreateButton>
</div>

<br>

<OrganizationDependentList TEntity="ExpenseResponse"
    ListApiPath="Expenses/Pending"
    @ref="_list">
    <ListItem>
        <ExpenseListItem Expense="@context"
            OnCreatedAccount="@(()=> _list.GetData())" />
    </ListItem>
</OrganizationDependentList>


@code {
    private OrganizationDependentList<ExpenseResponse> _list = default!;
}