<div class="d-flex align-center">
    <MudText Color="Color.Primary"
        Class="my-4"
        Typo="Typo.h5">
        Pending Expenses
    </MudText>

    <MudSpacer></MudSpacer>

    <CreateButton TForm="CreateExpenseForm"
        Title="Create Expense"
        OnCreated="@(()=> _list.GetData())">
        Create
    </CreateButton>
</div>

<OrganizationDependentList TEntity="ExpenseResponse"
    ListApiPath="Expenses/Pending"
    @ref="_list">
    <ListItem>
        <MudPaper Class="my-2 pa-6 rounded-lg">
            <div class="d-flex justify-space-between mb-2">
                <MudText Typo="Typo.subtitle1"
                    class="mud-text-secondary">
                    @context.EffectiveDate.ToLongDateString()
                </MudText>
                <h4>
                    @context.Amount.ToString("#,###.##")
                </h4>
            </div>


            <MudText Typo="Typo.subtitle1"
                class="mud-text-secondary">
                @context.Description
            </MudText>
        </MudPaper>
    </ListItem>
</OrganizationDependentList>


@code {
    private OrganizationDependentList<ExpenseResponse> _list = default!;
}