<div class="d-flex align-center">
    <MudText Color="Color.Primary"
        Class="my-4"
        Typo="Typo.h5">
        Budgets
    </MudText>

    <MudSpacer></MudSpacer>

    <CreateButton TForm="CreateBudgetHeaderForm"
        Title="Create a Budget"
        OnCreated="@(async ()=> await _list.GetData())">
        Create
    </CreateButton>

</div>

<OrganizationDependentList TEntity="BudgetHeaderResponse"
    ListApiPath="BudgetHeaders"
    @ref="_list">
    <ListItem>
        <BudgetHeaderListItem BudgetHeader="@context" />
    </ListItem>
</OrganizationDependentList>


@code {
    private OrganizationDependentList<BudgetHeaderResponse> _list = default!;
}